/*
This file contains a lot of AI usage for the basic styles, edited manually to fit preferences
*/

/**********************************************************************************************/
/* STANDARD */
/**********************************************************************************************/

/* Standard, light mode */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  --text-color: #333333;
  --text-secondary-color: #555555;
  --accent-primary-color: #3273dc;
  --accent-secondary-color: #4e8ef7;
  --background-color: #f7f7f7;
  --box-background-color: #f0f0f0;
  --line-color: #d0d0d0;
  --button-background-color: #646cff; 
  --button-text-color: #fff; 
  --border-color: #dddddd; 
  --shadow-color: rgba(0, 0, 0, 0.1);
  --error-color: #f44336;
  --radius-inputs: 0.35em;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Standard, dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #E0E0E0;
    --text-secondary-color: #a2a2a2;
    --background-color: #121212; 
    --box-background-color: #1E1E1E; 
    --line-color: #2C2C2C; 
    --button-background-color: #646cff; 
    --button-hover-color: #7A7AFF;
    --button-text-color: #fff; 
    --border-color: #2C2C2C; 
    --shadow-color: rgba(255, 255, 255, 0.05);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/**********************************************************************************************/
/* APP */
/**********************************************************************************************/

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: auto;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background: var(--background-color);
  box-shadow: var(--shadow-color);
  position: sticky;  
}

nav {
  display: flex;
  width: 100%;
  position: sticky;  
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: var(--box-background-color)
}

/**********************************************************************************************/
/* LANDING PAGE */
/**********************************************************************************************/

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background: var(--box-background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  width: 200px;
  height:auto;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin: 16px;
}

.product-name {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 8px 0;
}

.add-to-cart-button {
  background-image: linear-gradient(to bottom right, var(--accent-primary-color), var(--accent-secondary-color));
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px var(--shadow-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  justify-self:auto;
}

.add-to-cart-button:hover {
  background-image: linear-gradient(to bottom right, var(--accent-secondary-color), var(--accent-primary-color));
  box-shadow: 0 4px 8px var(--shadow-color);
  transform: translateY(-2px);
}

.landing-page-container{
  text-align: center;
  padding: 20px;
}

.product-description {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin-bottom: 12px;
}

/**********************************************************************************************/
/* ITEM DISPLAY  */
/**********************************************************************************************/

.product-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 8px;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* for being able to click on the image later */
}

.displayItem {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  border: 1px solid var(--border-color);
  width: 100%;
  height: auto;
  padding: 10px;
  color: var(--text-color);
  box-sizing: border-box;
}

.leftColumn, .rightColumn {
  padding: 5px;
}

.leftColumn {
  text-align: left;
  flex: 1;
}

.rightColumn{
  text-align: right;
}

.displayItemName {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}
.displayItemQuant {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  min-width: 90px;
  padding: 5px;
}

.displayItemPrice {
  text-align: right;
  padding-top: 5px;
  line-height: 0.5;
  font-size: 13px
}

.column {
  float: left;
  width: 50%;
}

.quantityButton {
  background-color: var(--box-background-color);
  color: var(--text-color);
  text-align: center;
  font-size: 13px;
  border-radius: 6px;
}

.removeItemButton {
  margin-top: 10px;
  width: 65px;
  height: 27px;
  background-color: var(--box-background-color);
  color: var(--text-color);
  padding: 0;
  text-align: center;
  font-size: 13px;
  line-height: 27px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  display: inline-block;
  box-sizing: border-box;
}

.displaySingleItemPrice {
  font-size: 0.7em;
  color: var(--text-secondary-color);
}

/**********************************************************************************************/
/* SHOPPING CART PAGE */
/**********************************************************************************************/

.cartItemsContainer, .checkoutContainer {
  margin: 10px;
  background: var(--box-background-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.emptyBasket {
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.summaryRow div,
.summaryRow h2,
.summaryRow p {
  margin: 0;
}

.summaryBox, .addressBox {
  margin-bottom: 20px;
}

.summaryBox {
  background: var(--box-background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.summaryBox h2 {
  font-weight: 700;
  margin: 10px 0;
}

.summaryBox p {
  text-align: right;
  margin: 5px 0;
}

.line {
  border-bottom: 1px solid var(--line-color);
  margin: 10px 0;
}

.checkoutButton {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin-top: 30px;
}

.upgradeButton {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  max-width: 250px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin-top: 30px;
}

.checkoutButton:hover {
  background-color: #535bf2;
}

.checkoutButton:disabled {
  background-color: #555;
}

.shoppingCartContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: start;
  margin: auto;
}

.popup {
  position: relative;
  display: inline-block;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: var(--error-color);
  color: var(--button-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 65%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--error-color) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

/**********************************************************************************************/
/* CHECKOUT PAGE */
/**********************************************************************************************/

.forms {
  display: flex;
  width: 100%;
}

.addressFormsContainer {
  background: var(--box-background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px var(--shadow-color);
  border: 1px solid var(--border-color);
} 

.paymentContainer {
  height: fit-content;
  margin-left: 20px;
  background: var(--box-background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px var(--shadow-color);
  border: 1px solid var(--border-color);
 }

.loader {
  display: none;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  background-color: #ccc;
  pointer-events: none;
}

.formsContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  /*align-items: center;*/
}

.popup_checkoutWarning .warningText {
  display: flex;
  visibility: hidden;
  align-items: center;
  width: max-content;
  background-color: var(--error-color);
  color: var(--button-text-color);
  justify-content: center;
  border-radius: 6px;
  padding: 8px;
  margin-left: 160px;
}

.popup_checkoutWarning .show {
  visibility: visible;
}


/**********************************************************************************************/
/* CHECKOUT POPUP */
/**********************************************************************************************/

.form-popup {
  width: 200px;
  height: 300px;
}

.exit-button{
  background-color: var(--line-color);
  justify-content: center;
}

.check { 
  height: 50px; 
  width: 18px; 
  border-bottom: 10px solid green; 
  border-right: 10px solid green; 
  transform: rotate(45deg); 
  margin-bottom: 20px;
  margin-left: 20px; 
} 

/**********************************************************************************************/
/* FORMS */
/**********************************************************************************************/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: left;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.billingAddress {
  display:none;
}

label {
  /* Uniform size & alignment */
  display: inline;
  width: 90%;
  text-align: left;
  flex: 1;
  margin: 0.1em 10px 0.1em 0.1em;
}

input {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  max-width: 600px;
  box-sizing: border-box;
  display: inline;

  /* Match form field borders */
  border: 1px solid --text-secondary-color;
  margin: 0.1em;

}

input:focus {
  /* Additional highlight for focused elements */
  border-color: --text-secondary-color;
}

input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.7);
}

input:valid {
  border: 2px solid --text-secondary-color;
}

.checkBoxContainer {
  margin-top: 20px;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 20px;
}

input[type="text"] {border-radius: var(--radius-inputs); margin-top: 7px;}
input[type="email"] {border-radius: var(--radius-inputs); margin-top: 7px;}
input[type="number"] {border-radius: var(--radius-inputs); margin-top: 7px;}

.comment-textarea {
  resize: none;
  width: 100%;
  height: 120px; /* Or any other size you prefer */
  padding: 0.8em;
  margin-top: 25px; /* Space above the textarea */
  border: 1px solid var(--border-color);
  border-radius: 8px; /* Consistent with other elements */
  background-color: var(--box-background-color);
  color: var(--text-color); /* Will switch between light and dark mode */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Consistent with the root */
  font-size: 1rem; /* Standard font size */
  box-shadow: 0 2px 4px var(--shadow-color); /* Shadow for depth */
}

.comment-textarea:focus {
  border-color: var(--accent-primary-color); /* Highlight color for focus */
  box-shadow: 0 0 0 3px var(--button-hover-color); /* Outer glow on focus */
}


/* META */

.IGNORE
*{
  outline: 1px solid red;
}

/* Keep at the end */
@media screen and (max-width: 768px) { /* <768px should be vertical mobile */
  .shoppingCartContainer {
    flex-direction: column;
    padding: 3px;
    align-items: normal;
  }
  .displayItem {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .leftColumn, .rightColumn {
    text-align: center;
  }
  .leftColumn {
    width: 100%;
  }
  .displayItemPrice {
    padding-top: 10px;
    text-align: center;
  }
  .formsContainer {
    flex-direction: column;
  }
  .paymentContainer {
    margin-top: 10px;
    flex-direction: column;
  }
}
